EnCen/Biome Synbio EC Comparison.csv
EnCen/Biome Synbio EC Comparison.xlsx
EnCen/Biome Synbio Top Match EC Comparison.xlsx
EnCen/EC_library.csv
EnCen/EC_name_&_num.csv
EnCen/EnCen Streamlit/test.faa
EnCen/HPC Results/Activated_Sludge/functional_profiles/Activated_Sludge_Metagenome_functional_profile
EnCen/HPC Results/Activated_Sludge/functional_profiles/Synbio_functional_profile
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Absolute_Difference_Comparison_Score.txt
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/combined_synbio_metagenome_binary_matrix.txt
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Euclidean_pairwise_distance_results.txt
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Synbio_Euclidean_non_pairwise_distance_result.txt
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Synbio_matches.tsv
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Uniprot_Reference_Library.dmnd
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Vibrio Natriegens NBRC 15636 w_butanol Genes.faa
EnCen/Final.xlsx
EnCen/Bins.xlsx
EnCen/Biome Synbio Top Match EC Comparison2.xlsx
EnCen/Funcprof1.xlsx
EnCen/Funcprof2.xlsx
EnCen/Funcprof3.xlsx
EnCen/Funcprof4.xlsx
EnCen/Biome Analysis Results/Biome Synbio Top Match EC Comparison.xlsx
EnCen/Biome Analysis Results/Activated Sludge/Only Present Enzyme Biome Synbio Top Match EC Comparison.xlsx
EnCen/Biome Analysis Results/Activated Sludge/Biome Synbio Top Match EC Comparison.xlsx
EnCen/Biome Analysis Results/Activated Sludge/Lost_Functions.xlsx
EnCen/Biome Analysis Results/Activated Sludge/percent shift after functional loss.xlsx
EnCen/Biome Analysis Results/Agricultural Bulk Soil/Biome Synbio Top Match EC Comparison.xlsx
EnCen/Biome Analysis Results/Agricultural Bulk Soil/percent shift after functional loss.xlsx
EnCen/Biome Analysis Results/Cow Rumen/Biome Synbio Top Match EC Comparison.xlsx
EnCen/Biome Analysis Results/Cow Rumen/percent shift after functional loss.xlsx
EnCen/Biome Analysis Results/Lake Sediment/Biome Synbio Top Match EC Comparison.xlsx
EnCen/Biome Analysis Results/Lake Sediment/percent shift after functional loss.xlsx
EnCen/Biome Analysis Results/River Sediment/Biome Synbio Top Match EC Comparison.xlsx
EnCen/Biome Analysis Results/River Sediment/percent shift after functional loss.xlsx
EnCen/HPC Results/Vibrio Natriegens NBRC 15636 w_butanol Genes.faa
EnCen/HPC Results/Activated_Sludge/UBA6164 protein.faa
EnCen/HPC Results/Agricultural_Bulk_Soil/Ag_Bulk_soilAbsolute_Difference_Comparison_Score.txt
EnCen/HPC Results/Agricultural_Bulk_Soil/Agricultural_Bulk_Soil_Metagenome_functional_profile
EnCen/HPC Results/Agricultural_Bulk_Soil/EC_library.csv
EnCen/HPC Results/Agricultural_Bulk_Soil/Succinivibrio dextrinosolvens protein(top_match).faa
EnCen/HPC Results/Agricultural_Bulk_Soil/Succinivibrio_dextrinosolvens_matches.tsv
EnCen/HPC Results/Agricultural_Bulk_Soil/Succinivibrio_dextrinosolvens_functional_profile
EnCen/HPC Results/Agricultural_Bulk_Soil/Uniprot_Reference_Library.dmnd
EnCen/HPC Results/Agricultural_Bulk_Soil/uniprot.fasta
EnCen/HPC Results/Cow_Rumen/Aeromonas popoffi protein.faa
EnCen/HPC Results/Cow_Rumen/Aeromonas_popoffi_functional_profile
EnCen/HPC Results/Cow_Rumen/Cow_Rumen_Absolute_Difference_Comparison_Score.txt
EnCen/HPC Results/Cow_Rumen/Cow_Rumen_Metagenome_functional_profile
EnCen/HPC Results/Cow_Rumen/Aeromonas_popoffi_matches.tsv
EnCen/HPC Results/Cow_Rumen/EC_library.csv
EnCen/HPC Results/Cow_Rumen/Uniprot_Reference_Library.dmnd
EnCen/HPC Results/Lake_Sediment/Buttiauxella brennerae ATCC 51605 protein.faa
EnCen/HPC Results/Cow_Rumen/uniprot.fasta
EnCen/HPC Results/Lake_Sediment/Buttiauxella brennerae ATCC 51605_functional_profile
EnCen/HPC Results/Lake_Sediment/Buttiauxella_brennerae_functional_profile
EnCen/HPC Results/Lake_Sediment/EC_library.csv
EnCen/HPC Results/Lake_Sediment/Buttiauxella_brennerae_matches.tsv
EnCen/HPC Results/Lake_Sediment/Lake_Sediment_Absolute_Difference_Comparison_Score.txt
EnCen/HPC Results/Lake_Sediment/Lake_Sediment_Metagenome_functional_profile
EnCen/HPC Results/Lake_Sediment/Uniprot_Reference_Library.dmnd
EnCen/HPC Results/Lake_Sediment/uniprot.fasta
EnCen/HPC Results/River_Sediment/EC_library.csv
EnCen/HPC Results/River_Sediment/River_Sediment_Metagenome_functional_profile
EnCen/HPC Results/River_Sediment/Uniprot_Reference_Library.dmnd
EnCen/HPC Results/River_Sediment/River_Sediment)Absolute_Difference_Comparison_Score.txt
EnCen/HPC Results/River_Sediment/uniprot.fasta
EnCen/HPC Results/River_Sediment/Yersinia intermedia protein.faa
EnCen/HPC Results/River_Sediment/Yersinia_intermedia_functional_profile
EnCen/HPC Results/River_Sediment/Yersinia_intermedia_matches.tsv
