EnCen/Biome Synbio EC Comparison.csv
EnCen/Biome Synbio EC Comparison.xlsx
EnCen/Biome Synbio Top Match EC Comparison.xlsx
EnCen/EC_library.csv
EnCen/EC_name_&_num.csv
EnCen/EnCen Streamlit/test.faa
EnCen/HPC Results/Activated_Sludge/functional_profiles/Activated_Sludge_Metagenome_functional_profile
EnCen/HPC Results/Activated_Sludge/functional_profiles/Synbio_functional_profile
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Absolute_Difference_Comparison_Score.txt
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/combined_synbio_metagenome_binary_matrix.txt
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Euclidean_pairwise_distance_results.txt
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Synbio_Euclidean_non_pairwise_distance_result.txt
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Synbio_matches.tsv
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Uniprot_Reference_Library.dmnd
EnCen/HPC Results/Activated_Sludge/synbio_inputs_and_outputs/Vibrio Natriegens NBRC 15636 w_butanol Genes.faa
EnCen/Final.xlsx
EnCen/Bins.xlsx
EnCen/Biome Synbio Top Match EC Comparison2.xlsx
EnCen/Funcprof1.xlsx
EnCen/Funcprof2.xlsx
EnCen/Funcprof3.xlsx
EnCen/Funcprof4.xlsx
EnCen/Biome Analysis Results/Biome Synbio Top Match EC Comparison.xlsx
